<% if !current_user.itineraries.empty? %>
	<ul>
		<% current_user.itineraries.collect do |itinerary| %>
			<li> <%= link_to itinerary.name, user_itinerary_path(itinerary) %> </li>
		<% end %>
	</ul>
<% else %>
<br>
<br>
"Get your grub on and create a new itinerary one." 
<% end %>
<br>
<br>
<br>