<% if !current_user.itineraries.empty? %>
	<ul>
		<% current_user.itineraries.collect do |itinerary| %>
			<li> <%= link_to itinerary.name, user_itinerary_path(@user, itinerary) %> </li>
		<% end %>
	</ul>
<% else %>
<br>
<br>
"Get Your Grub on and Create a New Itinerary." 
<% end %>
<br>
<br>
<br>