<h1> Hello! <%= current_user.name %> </h1>
<br>

Create a New Itinerary
<br>
<%=link_to 'Search a Destination', destinations_path %> 
<br>
<br>
<br>
<br>
<strong> Itineraries </strong>
<%= render 'itineraries/itinerary' %>

<strong> Restaurants You've Visited </strong>
<%= render 'restaurants/restaurant' %>





