<% if !current_user.itineraries.empty? %>
	<ul>
		<li>
			<% current_user.itineraries.each do |itinerary| %>
				<% if !itinerary.restaurants.empty? %>
					<% @arr = [] %>
					<% itinerary.restaurants.each do |restaurant| %>
					<% @arr << restaurant %>
						<% end %>
					 <% end %>
				<% end %>

				<% if @arr != nil %>
					<strong> Restaurants You've Visited </strong>

					<% @arr.each do |restaurant| %>
						<li> <%= restaurant.name %> </li>
			    	<% end %>
				<% else %> 
			    	"No New Restaurants." 
				<% end %>
		</li>
	</ul>
<% else %>
<br>
<br>
"No New Restaurants." 
<% end %>